<?xml version="1.0"?>
<launch>

  <arg name="robot_id" default="1" />
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix"
    value="gdb --ex run --args" />

  <node name="map_server" type="map_server" pkg="map_server"
    args="$(find turtlebot_oru)/maps/peishome.yaml" />

  <group ns="turtlebot$(arg robot_id)">
    <param name="tf_prefix" value="turtlebot$(arg robot_id)" />
    <!-- Turtlebot bringup -->

    <include
      file="$(find turtlebot_bringup)/launch/minimal.launch" />

    <param name="mobile_base/odom_frame" value="turtlebot$(arg robot_id)/odom"/>
    <param name="mobile_base/base_frame" value="turtlebot$(arg robot_id)/base_footprint"/>

    <!-- 3dSensor -->
    <include
      file="$(find turtlebot_bringup)/launch/3dsensor.launch">
      <arg name="rgb_processing" value="false" />
      <arg name="depth_registration" value="false" />
      <arg name="depth_processing" value="false" />

      <!-- We must specify an absolute topic name because if not it will 
        be prefixed by "$(arg camera)". Probably is a bug in the nodelet manager: 
        https://github.com/ros/nodelet_core/issues/7 -->
      <arg name="scan_topic" value="/turtlebot$(arg robot_id)/scan" />
    </include>

    <!-- Node 3: MCL -->
    <!-- WARNING: Using default parameters -->
    <node name="mcl" type="amcl" pkg="amcl">
      <remap from="scan" to="/turtlebot$(arg robot_id)/scan" />
      <!-- param name="odom_model_type" value="car" / -->
      <param name="initial_pose_x" value="0.0" />
      <param name="initial_pose_y" value="-4.0" />
      <param name="initial_pose_a" value="1.57079" />
    </node>


    <!-- Node 4: MoveBase -->

    <node pkg="move_base" type="move_base" respawn="false"
      name="move_base" output="screen"
      launch-prefix="$(arg launch_prefix)">
      <rosparam
        file="$(find turtlebot_oru)/param/costmap_common_params.yaml"
        command="load" ns="global_costmap" />
      <rosparam
        file="$(find turtlebot_oru)/param/costmap_common_params.yaml"
        command="load" ns="local_costmap" />
      <rosparam
        file="$(find turtlebot_oru)/param/local_costmap_params.yaml"
        command="load" />
      <rosparam
        file="$(find turtlebot_oru)/param/global_costmap_params.yaml"
        command="load" />
      <rosparam
        file="$(find turtlebot_oru)/param/move_base_params.yaml"
        command="load" />
      <rosparam file="$(find turtlebot_oru)/param/teb_params.yaml"
        command="load" />

      <!-- reset frame_id parameters using user input data -->
      <param name="global_costmap/global_frame" value="map" />
      <param name="global_costmap/robot_base_frame"
        value="turtlebot$(arg robot_id)/base_link" />
      <param name="local_costmap/global_frame" value="map" />
      <param name="local_costmap/robot_base_frame"
        value="turtlebot$(arg robot_id)/base_link" />

      <remap from="scan" to="turtlebot$(arg robot_id)/scan" />
    </node>
  </group>

</launch>
